<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
    <container class="container-fluid">
    <form method="post" action="/dataentry">
      <div class="form-group">
        <label for="problemname">Problem's Name</label>
        <input id="problemname" name="problemname" aria-describedby="problemnameHelpBlock" required="required" class="form-control here" type="text">
        <span id="problemnameHelpBlock" class="form-text text-muted">What's the name of the problem?</span>
      </div>
      <div class="form-group">
        <label for="problemdescription">Problem's Description</label>
        <textarea id="problemdescription" name="problemdescription" cols="40" rows="5" aria-describedby="problemdescriptionHelpBlock" class="form-control"></textarea>
        <span id="problemdescriptionHelpBlock" class="form-text text-muted">Please give a description of the problem</span>
      </div>
      <div class="form-group">
        <label for="problemparent">Problem's Parent</label>
        <div>
          <select id="problemparent" name="problemparent" aria-describedby="problemparentHelpBlock" class="custom-select">

          </select>
          <span id="problemparentHelpBlock" class="form-text text-muted">What's the larger problem this falls under?</span>
        </div>
      </div>
      <div class="form-group">
        <label for="problemtags">Tags related to the Problem</label>
        <input id="problemtags" name="problemtags" aria-describedby="problemtagsHelpBlock" class="form-control here" type="text">
        <span id="problemtagsHelpBlock" class="form-text text-muted">Help people find this problem with search tags</span>
      </div>
      <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">Submit Problem</button>
      </div>
    </form>
    </container>
  </body>
  <script>
    //console.log("ok1");
    var possibleparents = [];
    d3.json("parents.json").then(function(data) {
        //console.log("ok2")
        possibleparents = data;
        console.log(possibleparents)
      }).then( function(){
  var dropdownselector = document.getElementById("problemparent").options;
  possibleparents.forEach(option =>
  dropdownselector.add(
    new Option(option, option)
  ));})
  </script>
</html>
